
body {
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

div {
    width: 1000px;
    height: 50px;
    background: black;
    position :relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
  
  /* Standard syntax */
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }

