body {
    background-color: darkred;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

h3 {
    color: white;
}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 400px;
    margin: 10px -70px auto;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center {
    width: 150px;
    height: 200px;
    float: left
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    widows: 100px;
    height: 40px;
    background-image: linear-gradient(to bottom, transparent, transparent 50%,
    rgba(0,0,0,.5));
    background-color: lightgray;
}